.itinerary {
  color: black;
}

.content-body-ig {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("../../public/images/istockphoto-181126519-2048x2048.jpg");
  background-size: cover; /* Adjust as needed */
  background-position: bottom;
}

.button-container-ig {
  position: absolute;
  right: 0;
}

.regen-btn {
  width: 170px;
}

.ig-btn {
  margin-right: 10px;
}

.sub-content-ig {
  width: 75%;
  height: 50%;
  overflow-y: scroll;
  padding: 25px;
  position: absolute;
  top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(226, 255, 250, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
