.textarea {
  width: 70%;
  height: 60vh;
  padding: 12px 20px;
  margin: 8px 200px;
  box-sizing: border-box;
  border: 2px solid hsl(188, 83%, 84%);
  border-radius: 4px;
  /* From https://css.glass */
  background: rgba(226, 255, 250, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(118, 225, 220, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(226, 255, 250, 0.3);
  resize: none;
}

.content-btn {
  background-color: #faaf69;
  color: white;
  padding: 15px;
  margin: 15px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.content-btn:hover {
  background-color: #49c549;
}

.support-form {
  text-align: center;
}

.bg-support {
  background-color: rgb(210, 210, 210);
  background-image: url("../../public/images/pexels-jorge-urosa-9129566.jpg"); /* Background image */
  background-size: cover; /* Adjust as needed */
  height: 100vh;
}
