.textarea {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.content-btn {
  background-color: #525552;
  color: white;
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left:1000px;
}

.content-btn:hover {
  background-color: #49c549;
 
}
