.navbar {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-around;
  height: 100px;
}
.logo {
  height: 150px;
}
.nav-link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  width: 24rem;
  padding: 50px;
}
.mapsearch {
  height: 40px;
  margin-top: 40px;
  border-radius: 10px;
  width: 380px;
}
.btn-s {
  border-radius: 20px;
  width: 40px;
  padding: 0 10px;
}
.nav-link li {
  color: rgb(255, 255, 255);
  text-decoration-line: none;
  font-weight: 600;
}
