.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 80%;
}

.card-img {
  height: 300px;
  width: 80%;
  margin: 20px;
  border-radius: 20px;
}

.card-content {
  padding: 2px 16px;
}

.card-title {
  margin-bottom: 16px;
}

  

  
  .card-rating,
  .card-reviews,
  .card-price,
  .card-ranking,
  .card-award,
  .card-cuisine,
  .card-address,
  .card-phone {
    margin: 10px 0;
  }
  
  .card-actions {
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
  
  .card-actions a {
    color: blue;
    text-decoration: none;
  }
  
  .card-cuisine {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 14px;
    color: #000;
  }
  